@import url('https://fonts.googleapis.com/css2?family=Caudex:wght@700&display=swap');

body,
html {
    height: 100%;
}

.all {
    background-image: url("dream.jpg");
    height: 100%;    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
}

.class {
    display: flex;
    
}


h1 {
    margin: 0;
    color: #faebd7;
    font-family: 'Caudex', serif;
    font-size: 500px;
}

button {
    background: none;
    width: 200px;
    color: #000000;
    font-size: large;
    font-family: 'Caudex', serif;
}